/web/               @SCUT-Elite-Camp/ai-qa-web-team
/agent/             @SCUT-Elite-Camp/ai-qa-agent-team
/toolset/           @SCUT-Elite-Camp/ai-qa-toolset-team
/data-persistence/  @SCUT-Elite-Camp/ai-qa-data-persistence-team
/data-pipeline/     @SCUT-Elite-Camp/ai-qa-data-pipeline-team
